.textBox{
    
        background-image: url("./Assets/Email\ Lock.png");
        background-position: right top;
        background-repeat: no-repeat;
        background-size: contain;
      display: flex;
      flex-wrap: wrap;
}




  